<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>I AM</h2>
<div class="summary">
	<p>
		<h3 class="job-title">Educated and Experienced</h3>
		I am a Scientist in applied mathematics and computer sciences with many years of academic and professional experience in trusted companies. 
	</p>
</div>
<div class="summary">
	<p>
		<h3 class="job-title">Research, Science and Technology Driven</h3>
		 I have a strong background in advanced analytics and large data structures, with now, a focus on "parallel and distributed systems" and "parallel programming" applied to the development of: analyzing and solving systems through the construction and treatment of models, process interaction and problem decomposition; as well as performance engineering/acceleration functionality and to devise algorithms that take advantage of them.
	</p>
</div>
<div class="summary">
	<p>
		<h3 class="job-title">A Problem and Solutions Analyst</h3>
		I am an expert in identifying and implementing cutting edge information solutions to address business requirements and provide strategic insights with relevant financial and analytical experience. 

	</p>
	</div>
<div class="summary">
	<p>
		<h3 class="job-title">Focused and A Team Player</h3>
		I am a collaborator that thrives in a highly pressurized and challenging working environment. 
	</p>
		</div>
		
<!--//summary-->
</section><!--//section-->
