 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">MSc. in Modelling for Science and Engineering, Data Science and Engineering Speciality</h4>
    <h5 class="meta">Universidad Autónoma de Barcelona</h5>
    <div class="time">2017 - 2019</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">MSc. in Mathematics for Financial Instruments, Financial Engineering and Quantitative Finance Speciality</h4>
    <h5 class="meta">Universidad Autónoma de Barcelona</h5>
    <div class="time">2014 - 2016</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Masters in Economics and Business Administration, Finance and Investment Speciality</h4>
    <h5 class="meta">Universidad Autónoma de Barcelona</h5>
    <div class="time">2013 - 2014</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BSc. in Mathematics, Applied Mathematics and Statistics Speciality</h4>
    <h5 class="meta">University of the Bahamas (UB), FKA "COB"</h5>
    <div class="time">2001 - 2004</div>
</div><!--//item-->
<!--//<div class="item">
    <h4 class="degree">AA in Mathematics, Applied Mathematics and Statistics Speciality</h4>
    <h5 class="meta">University of the Bahamas (UB), FKA "COB"</h5>
    <div class="time">1999 - 2001</div>
</div>m-->
  <!--//item-->
</div><!--//education-container-->
