 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree"><a href="https://goo.gl/4cA6Mk">Masters in Modelling for Science and Engineering</h4>
    <h5 class="meta">Universidad Autónoma de Barcelona</h5>
    <div class="time">2017 - 2019</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree"><a href="https://goo.gl/wK5FCJ">Masters in Mathematics for Financial Instruments</h4>
    <h5 class="meta">Universidad Autónoma de Barcelona</h5>
    <div class="time">2014 - 2016</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree"><a href="https://goo.gl/ghSzKv">Masters in Economics and Business Administration</h4>
    <h5 class="meta">Universidad Autónoma de Barcelona</h5>
    <div class="time">2013 - 2014</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree"><a href="https://goo.gl/YZiHfw">BSc. in Mathematics</h4>
    <h5 class="meta">University of the Bahamas (UB), FKA "COB"</h5>
    <div class="time">2001 - 2004</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree"><a href="https://goo.gl/YZiHfw">AA in Mathematics</h4>
    <h5 class="meta">University of the Bahamas (UB), FKA "COB"</h5>
    <div class="time">1999 - 2001</div>
</div><!--//item-->
</div><!--//education-container-->
