<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">SR. ADVISOR/SALES OPERATIONS ANALYST</h3>
                            <div class="time">06/2017 - present </div>
                        </div><!--//upper-row-->
						<div class="time">06/2017 - present </div>
                        <div class="company">Giant Marketing/Giant Advisory Services (Spain)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> </p>
                    </div><!--//details-->
                </div><!--//item-->
               
			   
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">SR. CONSULTANT - CONTROL ANALYTICS</h3>
                            <div class="time">03/2017 - 06/2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Capgemini España S.L. (Spain)</div>
                    </div><!--//meta-->
                    <div class="details"> 
                        <p> </p>
                    </div><!--//details-->
                </div><!--//item-->
			   
			   
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">SR. ANALYST - DATA ANALYSIS</h3>
                            <div class="time">09/2016 - 03/2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Information Technology and Analytics for Control Assurance (ÍTACA, Spain)</div>
                    </div><!--//meta-->
                    <div class="details"> 
                        <p> </p>
                    </div><!--//details-->
                </div><!--//item-->
			   
			   
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">ANALYST - FX & IR RISK CONTROL</h3>
                            <div class="time">12/2015 - 06/2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Banco Sabadell, S.A., Corporate Building (Spain)</div>
                    </div><!--//meta-->
                    <div class="details"> 
                        <p> </p>
                    </div><!--//details-->
                </div><!--//item-->
			   
			   
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">ANALYST - MARKET RISK MANAGEMENT & ANALYSIS</h3>
                            <div class="time">06/2015 - 12/2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Banco Sabadell, S.A., Corporate Building (Spain)</div>
                    </div><!--//meta-->
                    <div class="details"> 
                        <p> </p>
                    </div><!--//details-->
                </div><!--//item-->
			   
			   
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">DATA ANALYST (Research)</h3>
                            <div class="time">06/2015 - 12/2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Centre de Recerca Matemática, UAB (Spain)</div>
                    </div><!--//meta-->
                    <div class="details"> 
                        <p> </p>
                    </div><!--//details-->
                </div><!--//item-->
			   
			    <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">ANALYST - ECONOMIC & IMPACT RISK ASSESSMENT ANALYSIS</h3>
                            <div class="time">03/2014 - 09/2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Evaluatel (Spain)</div>
                    </div><!--//meta-->
                    <div class="details"> 
                        <p> </p>
                    </div><!--//details-->
                </div><!--//item-->
			   
			     <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">ASSOCIATE DIRECTOR/ADVISOR</h3>
                            <div class="time">2008 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Computer Office School and Technology (COST Ltd., The Bahamas)</div>
                    </div><!--//meta-->
                    <div class="details"> 
                        <p> </p>
                    </div><!--//details-->
                </div><!--//item-->
			   
			   <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">ADJUNCT LECTURER/INSTRUCTOR - MATHEMATICS</h3>
                            <div class="time">2004 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">College of the Bahamas (The Bahamas)</div>
                    </div><!--//meta-->
                    <div class="details"> 
                        <p> </p>
                    </div><!--//details-->
                </div><!--//item-->
			   
			     <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">ASSOCIATE/CONSULTANT - INSURANCE ANALYSIS AND INVESTMENTS</h3>
                            <div class="time">2004 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Galanos Insurance Agency Ltd. / Peter Galanos Realty Ltd. (The Bahamas)</div>
                    </div><!--//meta-->
                    <div class="details"> 
                        <p> </p>
                    </div><!--//details-->
                </div><!--//item-->
			   
			      <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">STATISTICIAN – ECONOMIC AND BUSINESS ESTABLISHMENT ANALYSIS</h3>
                            <div class="time">2004 - 2008</div>
                        </div><!--//upper-row-->
                        <div class="company">Department of Statistics, Ministry of Finance (The Bahamas)</div>
                    </div><!--//meta-->
                    <div class="details"> 
                        <p> </p>
                    </div><!--//details-->
                </div><!--//item-->
			   
			     <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">JR. ANALYST - PRIVATE BANKING & RISK MANAGEMENT</h3>
                            <div class="time">2002 - 2004</div>
                        </div><!--//upper-row-->
                        <div class="company">Commonwealth Bank, Corporate Building (The Bahamas)</div>
                    </div><!--//meta-->
                    <div class="details"> 
                        <p> </p>
                    </div><!--//details-->
                </div><!--//item-->
			   
			     <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">JR. ANALYST - ECONOMIC & BUSINESS ESTABLISHMENT ANALYSIS</h3>
                            <div class="time">2000 - 2004</div>
                        </div><!--//upper-row-->
                        <div class="company">Department of Statistics, Ministry of Finance (The Bahamas)</div>
                    </div><!--//meta-->
                    <div class="details"> 
                        <p> </p>
                    </div><!--//details-->
                </div><!--//item-->
			   

            </section><!--//section-->
