<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>RESEARCH PAPERS / REPORTS / PROJECTS</h2>
                <div class="intro">
                </div><!--//intro-->
				
                   <div class="item">
					<span class="project-title">
					<p><b>Competition for Light in the Forest Simulation (2018 - Group Project)</b></p>
					<a href="#hook"></a>
					</span>
					<span class="project-tagline">
					<p>
					</p>
					</span>
                    </div>
					
				   <div class="item">
					<span class="project-title">
					<p><b>EU Bank Forex Risk within Global Forex Markets (2016)</b></p>
					<a href="#hook"></a>
					</span>
					<span class="project-tagline">
					<p>
					</p>
					</span>
                    </div>
				   
				   <div class="item">
					<span class="project-title">
					<p><b>Scientific Computational European Option Pricing Assessment (2016)</b></p>
					<a href="#hook"></a>
					</span>
					<span class="project-tagline">
					<p>
					</p>
					</span>
                    </div>

				    <div class="item">
					<span class="project-title">
					<p><b>Financial Stability and Integration within the Eurozone (2014)</b></p>
					<a href="#hook"></a>
					</span>
					<span class="project-tagline">
					<p>
					</p>
					</span>
                    </div>
					
					<div class="item">
					<span class="project-title">
					<p><b>Automated Questionnaire Design Project within TeleForm (2007 - 2008)</b></p>
					<a href="#hook"></a>
					</span>
					<span class="project-tagline">
					<p>
					</p>
					</span>
                    </div>
					
					<div class="item">
					<span class="project-title">
					<p><b>Annual Business Establishment Survey Report (2005 - 2007)</b></p>
					<a href="#hook"></a>
					</span>
					<span class="project-tagline">
					<p>
					</p>
					</span>
                    </div>
			   
            </section><!--//section-->
