<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><p><b>youtube.com/user/iPirateLoL</b></p><a href="#hook"></a></span><span class="project-tagline"><p>I create a videogames-related YouTube channel focused in gathering professional plays in competitive tournaments. I made the whole design and the mountage of videos; I also was responsible of gathering of the clips and the community management. The earnings of this project were my main income for a time.</p>

                    <p>Working with the audience data of the channel is where I found my love for data analytics.</p></span>

                    <div class="item">
                    <span class="project-title"><p><b>Comprarunatablet.eu</b></p><a href="#hook"></a></span><span class="project-tagline"><p>No longer alive, this project was about my passion of technology and entrepreneurship. In the dawn of this smartphone &amp; tablets fever, I found out how common was to most people to be uninformed about these new tech. Therefore, I started a blog-website where I posted reviews of the most googled devices of that time.</p>

                    <p>In this brief adventure I learned <i>html, css</i> and working in wordpress environment.</p>

                    </span>
            </section><!--//section-->
