<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>RESEARCH PAPERS / REPORTS / PROJECTS</h2>
                <div class="intro">
                </div><!--//intro-->
				
                   <div class="item">
					<span class="project-title">
					<p><b>EU Bank Forex Risk within Global Forex Markets (06/2016 - UAB/BS)</b></p>
					<a href="#hook"></a>
					</span>
					<span class="project-tagline">
					<p>To study the process of financial companies (i.e. EU Banks) measuring foreign exchange (Forex) risk more precisely using Value at Risk (VaR); as well as risk measures that summarize and support management-relevant aspects of the entire gain/loss risk profile for financial investment objectives. Statistical computing and graphics done in Excel-VBA and R.
					</p>
					</span>
                    </div>
				   
				   <div class="item">
					<span class="project-title">
					<p><b>Scientific Computational European Option Pricing Assessment (06/2016 - UAB/CRM)</b></p>
					<a href="#hook"></a>
					</span>
					<span class="project-tagline">
					<p>To study the use of the scientific computation valuation methods based on the high efficiency performance and robustness of Cash-or-Nothing, European and Long Maturity Options by means of the SWIFT (Shannon Wavelet Inverse Fourier Technique); as well as in the context of Fat-tailed Assets Pricing Distributions and Multiple Strikes Valuations. Exotic Options and Derivatives will also be considered. Statistical computing and graphics done in Excel-VBA and MATLAB.
					</p>
					</span>
                    </div>

				    <div class="item">
					<span class="project-title">
					<p><b>Financial Stability and Integration within the Eurozone (06/2014 - UAB/MEBA)</b></p>
					<a href="#hook"></a>
					</span>
					<span class="project-tagline">
					<p>To study the comparison of Credit Default Swaps (CDSs) versus Interest Rates Spreads (IRSs) as indicators of the sovereign risk associated to public bonds. Data was downloaded and analyzed from selected countries world-wide. The main analysis included Beta-convergence, Sigma-convergence and Financial Stress Tests. The problem under consideration was relevant to the data-analysis. The final output was of optimal quality according to the expected standards within EU Financial Markets. Statistical computing and graphics done in Excel-VBA and STATA.
					</p>
					</span>
                    </div>
					
					<div class="item">
					<span class="project-title">
					<p><b>Automated Questionnaire Design Project within TeleForm (2007 - 2008)</b></p>
					<a href="#hook"></a>
					</span>
					<span class="project-tagline">
					<p>To draft and design several questionnaires into an electronic form processing application (TeleForm) for the purpose of Form Design, Form Recognition (definition and processing), Document Preparation, Scanning, Form Identification, Automatic Data Capture, Data Editing and Data Validation, Formatting and Transfer; to provide a fast and more accurate process of statistical information essential to the economic census 2010 of The Bahamas.
					</p>
					</span>
                    </div>
					
					<div class="item">
					<span class="project-title">
					<p><b>Annual Business Establishment Survey Report (2005 - 2007)</b></p>
					<a href="#hook"></a>
					</span>
					<span class="project-tagline">
					<p>To measure the contribution of Agriculture, Business and Technology Industries, Financial Institutions, Construction, Private Non-Profit Institutions, Trade and Tourism Sectors to total output during the years 2005 to 2007 and to provide information essential to the estimation of national income and gross domestic product of The Bahamas.
					</p>
					</span>
                    </div>
			   
            </section><!--//section-->
