<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Programming Skills</h2>
                <div class="skillset">
                    
					<div class="item">
                        <h3 class="level-title">R</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="100%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
					
					<div class="item">
                        <h3 class="level-title">LaTeX</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="100%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Excel-VBA &amp; MATLAB </h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="100%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

					
					 <div class="item">
                        <h3 class="level-title">STATA, SPSS &amp; SAS</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="90%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
					
					
                    <div class="item">
                        <h3 class="level-title">Python</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

					<div class="item">
                        <h3 class="level-title">PL/SQL &amp; MySQL</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="75%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
					
                    <div class="item">
                        <h3 class="level-title">C/C++</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
					
					 <div class="item">
                        <h3 class="level-title">CUDA, GPU &amp; OpenACC</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

					 <div class="item">
                        <h3 class="level-title">MPI, OpenMP &amp; TAU</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
					
					<div class="item">
                        <h3 class="level-title">GNU/Linux &amp; Unix (Kondor+)</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="65%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
					
					 <div class="item">
                        <h3 class="level-title">Hadoop, HDFS &amp; Spark</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="60%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
					
					 <div class="item">
                        <h3 class="level-title">Java &amp; Scala </h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="55">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

					  <div class="item">
                        <h3 class="level-title">HTML5 &amp; CSS</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="40%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
					
                </div>
            </section><!--//skills-section-->
